# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Misc
Makefile
cmake_install.cmake
CMakeCache.txt
commitMsg.com

#Folders
CMakeFiles
Bin/Debug/*
Bin/Release/*
!Bin/Debug/uis
!Bin/Debug/uis/*

# Temp Files
*.*~
